
/* css reset */

*{ margin: 0; padding: 0;}
a{ text-decoration: none;}
img{ display: block;}
ul,ol{ list-style: none;}

/* css common */

.l{ float: left;}
.r{float: right;}
.clear::after{display: block; content: ""; clear: both;}
.container{ width: 1050px; margin: 0 auto; position: relative;}
.container-fluid{ position: relative;}
body{ background: #f5f5f5;}
#white{ background: white; overflow: hidden;}

/* css nav */

#nav{ background: #333333;}
#nav div{ font-size: 0;}
#nav div a{ display: inline-block; color: #b0b0a4; font-size: 12px; line-height: 40px;}
#nav div section a:last-of-type{ width: 120px; height: 40px; text-align: center; background: #424242; margin-left: 25px;}
#nav div span{ display: inline-block; font-size: 12px; margin: 0 8px 0 8px; color: #393f3f; line-height: 40px;}

/* css list */
#list>div:first-of-type{ width: 550px; height: 550px; float: left;}
#list>div:first-of-type img{ width: 100%;}
#list>div:nth-of-type(2){ width: 400px; float: right; padding-top: 50px;}
#list>div:nth-of-type(2) h2{ font-size: 24px; color: #212121; line-height: 24px; margin-bottom: 20px; height: 100px;}
#list>div:nth-of-type(2) p{ font-size: 16px; line-height: 50px; background: #ccb7b0; color: #ffffff; height: 50px;}
#list>div:nth-of-type(2)>div{ font-size: 22px; color: #ff6700; margin-bottom: 100px; margin-top: 100px;}
#list>div:nth-of-type(2) span{ display: block; width: 300px; height: 54px; display: block; text-align: center; margin: 20px auto; background: #ff6700; color: white; line-height: 54px;}
